PORT=5000
NODE_ENV=development

DATABASE_URL=
DIRECT_URL=
JWT_SECRET=codemafiasecretkey2024makeitlong
JWT_REFRESH_SECRET=jiyaandiramakesjira
REDIS_URL=redis://default:gQAAAAAAAjhvAAIgcDJjMmIwNTZlMmE0ZjY0YWVmOGUwNWUxNTlkMTE5MjMwMg@enabled-panther-145519.upstash.io:6379